<div class="mx-3">
    <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 text-center" >Location Details</h3>
          <button class="btn btn-icon btn-3 btn-primary" type="button" >
            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
            <span class="btn-inner--text">Add New</span>
        </button>
        </div>
        <div class="table-responsive" style="min-height: 600px;">
          <table class="table align-items-center table-flush" >
            <thead class="thead-light">
              <tr>
               <th scope="col"> Location</th>
               <th scope="col"> Location/branch name </th>
               <th scope="col"> Location head</th>
               <th scope="col"> branch manager telephone</th>
               <th scope="col"> Address:-state zip</th>
               <th scope="col"> Geo fencing</th>
               <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                   <td class="text-center" colspan="7">No Data</td>
            </tbody>
          </table>  
        </div>
  </div>
  </div>