<div class="mx-3">
    <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 text-center" >Users Trip Details</h3>
        </div>
        <div class="table-responsive" style="min-height: 600px;">
          <table class="table align-items-center table-flush" >
            <thead class="thead-light">
              <tr>
                  <th scope="col">user id</th>
                <th scope="col">name</th>
               <th scope="col"> From location </th>
                <th scope="col"> trail type of trailer</th>
                <th scope="col">  date time</th>
                <th scope="col"> before image of trailer</th>
                <th scope="col">  after image</th>
                <th scope="col">  GPS of user</th>
                <th scope="col"> cleared status</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                   <td class="text-center" colspan="9">No Data</td>
            </tbody>
          </table>
        </div>
  </div>
</div>