<div class="mx-3">
  <div class="card shadow">
      <div class="card-header border-0">
        <h3 class="mb-0 text-center" >Trailer Details</h3>
        <button class="btn btn-icon btn-3 btn-primary" type="button" >
          <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
          <span class="btn-inner--text">Add New</span>
      </button>
      </div>
      <div class="table-responsive" style="min-height: 600px;">
        <table class="table align-items-center table-flush" >
          <thead class="thead-light">
            <tr>
               <th scope="col">trailer name</th>
              <th scope="col">trailer type</th>
             <th scope="col"> address </th>
              <th scope="col">rate per hour</th>
              <th scope="col">image</th>
              <th scope="col">availablity</th>
              <th scope="col">action</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                 <td>sample</td>
                 <td>
                  Model A
                 </td>
                 <td>test address</td>
                 <td>20</td>
                 <td>no image</td>
                 <td>available</td>
                 <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" *ngFor="let action of actions" (click)="actionSelected(action.value)">{{edit &&action.value=='edit'?'Save':action.name}}</a>
                    </div>
                  </div>
                </td>
          </tbody>
        </table>  
      </div>
</div>
</div>

<ng-template #viewDetails let-c="close" let-d="dismiss">
  <!-- modal header -->
  <div class="modal-header bg-secondary">
      <h2 class="modal-title text-center">Trailer Details</h2>
  </div>
  <!-- modal header -->
  <div class="modal-body">
      <!-- modal content -->
      <h3>Trailer details here</h3>
  </div>
  <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary" (click)="this.modelService.dismissAll()">Close</button>
  </div>
</ng-template>